name: GitHub Activity Readme

on:
 schedule:
  - cron: '59 23 * * *'
 workflow_dispatch:

jobs:
 build:
  runs-on: ubuntu-latest

  steps:
   - uses: actions/checkout@v2
   - uses: jamesgeorge007/github-activity-readme@master
     env:
      GITHUB_TOKEN: ${{ secrets.TOKEN }}
